<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myblog.entity.FileModel">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_upload_name" jdbcType="VARCHAR" property="fileUploadName" />
        <result column="file_type" jdbcType="VARCHAR" property="fileType" />
        <result column="file_path" jdbcType="VARCHAR" property="filePath" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="operator" jdbcType="VARCHAR" property="operator" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.myblog.entity.FileModel">
        insert into ts_file (file_name, file_upload_name,
          file_type, file_path, version,
          state, create_time, creator,
          modify_time, operator, remark
          )
        values (#{fileName,jdbcType=VARCHAR}, #{fileUploadName,jdbcType=VARCHAR},
          #{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
          #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR},
          #{modifyTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
          )
    </insert>

</mapper>